version: "3.8"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: mini_billo
      POSTGRES_PASSWORD: mini_billo_pass
      POSTGRES_DB: mini_billo_dev
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
